<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary | GUDLFT Registration</title>
</head>
<body>
    {% with messages = get_flashed_messages()%}
    {% if not messages %}
    <h2>Welcome, {{club['email']}} </h2><a href="{{url_for('logout')}}">Logout</a>
    {% endif %}
    {% if messages %}
        <ul>
       {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
       </ul>
       <button onclick="redirectToRoot()">Go to login page</button>
    {% else %}
    <br />
    Points available: {{club['points']}}
    <br />
    <br />
    <form action="{{ url_for('clubsPoints', club=club['name']) }}" method="post">
        <input type="hidden" name="club" value="{{ club['name'] }}">
        <button type="submit">Display club report</button>
    </form>
    {% if club_name %}
    <h3>Club Points</h3>
    <p>Club Name: {{ club_name }}</p>
    <p>Points: {{ club_points }} </p>
    {% endif %}
    <br />
    <h3>Competitions:</h3>
    <ul>
        {% for comp in competitions%}
        <li>
            {{comp['name']}}<br />
            Date: {{comp['date']}}</br>
            Number of Places: {{comp['numberOfPlaces']}}
            {%if comp['numberOfPlaces']|int >0%}
            <a href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a>
            {%endif%}
        </li>
        <hr />
        {% endfor %}
    </ul>
    {% endif%}
    {%endwith%}
    <script>
        function redirectToRoot() {
            window.location.href = "/";
        }
    </script>
</body>
</html>